.accordion {
    margin-top: 10px;
}

.accordion_toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    transition: background-color linear 0.1s;
}

.accordion_toggle:hover .btn_inside_description {
    transition: opacity 0.1s linear;
    opacity: 1;
}

.btn_inside_description {
    width: 105px;
    opacity: 0;
    transition: opacity 0.1s linear;
}

.accordion_toggle p {
    margin: 0 15px;
    max-height: 50px;
    max-width: 250px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.accordion_toggle:hover {
    background-color: #d7d7d7;
    transition: background-color linear 0.1s;
}

.card_body {
    white-space: pre-wrap;
}
