#root {
    margin: 5px 10px;
}

.header_bottom {
    max-width: 500px;
    width: fit-content;
    font-family: 'Simonetta';
    margin: 10px auto;
    display: flex;
    align-items: center;
}

.header_bottom h2 {
    display: flex;
    justify-content: center;
    color: dimgray;
    margin-top: 10px;
}

.header {
    max-width: 500px;
    height: 50px;
    background-color: #66CCFF;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 5px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header h1 {
    font-family: 'Yeon Sung';
    margin-left: 10px;
    margin-top: 7px;
    text-shadow: .05em 0 5px white;
}

.cookbook_list {
    max-width: 500px;
    margin: 0 auto;
}

.btn {
    font-family: 'Baloo 2', cursive;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}




